:root {
    --colorAvatarBackgroundImageDefault: #DAE2E9;
    --colorAvatarBackgroundImageHover: #A9BBCB;
    --colorAvatarBackgroundProjectDefault: #557999;
    --colorAvatarBackgroundProjectHover: #3E607D;
    --colorAvatarBackgroundSpaceDefault: #1A77CA;
    --colorAvatarBackgroundSpaceHover: #155EA0;
    --colorAvatarBackgroundTemplateDefault: #F4F6F8;
    --colorAvatarBackgroundTemplateHover: #DAE2E9;
    --colorAvatarBackgroundTenantDefault: #FFFFFF;
    --colorAvatarBackgroundTenantHover: #F4F6F8;
    --colorAvatarBackgroundUserDefault: #1A77CA;
    --colorAvatarBackgroundUserHover: #155EA0;
    --colorAvatarIconPrimary: #FFFFFF;
    --colorAvatarIconSecondary: #1F303F;
    --colorAvatarStackBackgroundHover: #CDE4F7;
    --colorAvatarStackBorder: #FFFFFF;
    --colorAvatarText: #FFFFFF;
    --colorBackgroundBold: #FFFFFF;
    --colorBackgroundDanger: #FFF3F3;
    --colorBackgroundDisabled: #DEE1E6;
    --colorBackgroundFeature: #F8F5FD;
    --colorBackgroundInfo: #F2F8FD;
    --colorBackgroundInverseNeutral: #515D70;
    --colorBackgroundInversePrimary: #16191F;
    --colorBackgroundInverseSecondary: #3D4653;
    --colorBackgroundInverseSuccess: #00874D;
    --colorBackgroundPrimaryDefault: #FFFFFF;
    --colorBackgroundPrimaryHover: #F5F6F8;
    --colorBackgroundPrimaryPressed: #DEE1E6;
    --colorBackgroundPrimaryTransparent: rgb(from #FFFFFF r g b / 0.72);
    --colorBackgroundQuartaryDefault: #FFFFFF;
    --colorBackgroundQuartaryHover: #F5F6F8;
    --colorBackgroundQuartaryPressed: #DEE1E6;
    --colorBackgroundSecondaryDefault: #F5F6F8;
    --colorBackgroundSecondaryHover: #FFFFFF;
    --colorBackgroundSecondaryPressed: #B2B9C5;
    --colorBackgroundSecondaryTransparent: rgb(from #F5F6F8 r g b / 0.72);
    --colorBackgroundSelected: #1A77CA;
    --colorBackgroundSuccess: #EEFAF5;
    --colorBackgroundTertiary: #DEE1E6;
    --colorBackgroundWarning: #FFF7D9;
    --colorBadgeBackgroundDanger: #D63D3D;
    --colorBadgeBackgroundFeature: #E7DEF8;
    --colorBadgeBackgroundInfo: #1A77CA;
    --colorBadgeBackgroundInverseNeutral: #515D70;
    --colorBadgeBackgroundNeutral: #DEE1E6;
    --colorBadgeBackgroundSuccess: #00874D;
    --colorBadgeBackgroundUpsell: #E7DEF8;
    --colorBadgeBackgroundWarning: #927002;
    --colorBadgeIconFeature: #572B97;
    --colorBadgeIconPrimary: #FFFFFF;
    --colorBadgeIconSecondary: #000000;
    --colorBadgeIconUpsell: #572B97;
    --colorBadgeTextFeature: #572B97;
    --colorBadgeTextPrimary: #FFFFFF;
    --colorBadgeTextSecondary: #000000;
    --colorBadgeTextUpsell: #572B97;
    --colorBorderBold: #68778D;
    --colorBorderDanger: #D63D3D;
    --colorBorderDefault: #515D70;
    --colorBorderDisabled: #B2B9C5;
    --colorBorderFeature: #895ED3;
    --colorBorderInfo: #1A77CA;
    --colorBorderInversePrimary: #3D4653;
    --colorBorderInverseSecondary: #3D4653;
    --colorBorderLinkDefault: #1A77CA;
    --colorBorderLinkHover: #155EA0;
    --colorBorderPrimary: #DEE1E6;
    --colorBorderSecondary: #F5F6F8;
    --colorBorderSelected: #1A77CA;
    --colorBorderSuccess: #00874D;
    --colorBorderTertiary: #B2B9C5;
    --colorBorderWarning: #B98F02;
    --colorButtonBackgroundDestructiveDefault: #D63D3D;
    --colorButtonBackgroundDestructiveHover: #AA3030;
    --colorButtonBackgroundDestructivePressed: #802424;
    --colorButtonBackgroundDisabled: rgb(from #DEE1E6 r g b / 0.56);
    --colorButtonBackgroundLoudDefault: #1A77CA;
    --colorButtonBackgroundLoudHover: #155EA0;
    --colorButtonBackgroundLoudPressed: #0F4778;
    --colorButtonBackgroundNeutralDefault: #F5F6F8;
    --colorButtonBackgroundNeutralHover: #DEE1E6;
    --colorButtonBackgroundNeutralPressed: #B2B9C5;
    --colorButtonBackgroundPrimaryDefault: #00874D;
    --colorButtonBackgroundPrimaryHover: #006A3D;
    --colorButtonBackgroundPrimaryPressed: #00502E;
    --colorButtonBackgroundQuietDefault: rgb(from #1A77CA r g b / 0);
    --colorButtonBackgroundQuietHover: rgb(from #1A77CA r g b / 0.08);
    --colorButtonBackgroundQuietPressed: rgb(from #1A77CA r g b / 0.24);
    --colorButtonBackgroundSecondaryDefault: rgb(from #1A77CA r g b / 0);
    --colorButtonBackgroundSecondaryHover: rgb(from #1A77CA r g b / 0.08);
    --colorButtonBackgroundSecondaryPressed: rgb(from #1A77CA r g b / 0.24);
    --colorButtonBackgroundTertiaryDefault: rgb(from #1A77CA r g b / 0.06);
    --colorButtonBackgroundTertiaryHover: rgb(from #1A77CA r g b / 0.16);
    --colorButtonBackgroundTertiaryPressed: rgb(from #1A77CA r g b / 0.24);
    --colorButtonBorderDisabled: #DEE1E6;
    --colorButtonBorderSecondary: #449BE1;
    --colorButtonIconDestructive: #FFFFFF;
    --colorButtonIconDisabled: #B2B9C5;
    --colorButtonIconLoud: #FFFFFF;
    --colorButtonIconNeutral: #282F38;
    --colorButtonIconPrimary: #FFFFFF;
    --colorButtonIconQuiet: #1A77CA;
    --colorButtonIconSecondary: #1A77CA;
    --colorButtonIconTertiary: #1A77CA;
    --colorButtonTextDestructive: #FFFFFF;
    --colorButtonTextDisabled: #8A96A7;
    --colorButtonTextLoud: #FFFFFF;
    --colorButtonTextNeutral: #282F38;
    --colorButtonTextPrimary: #FFFFFF;
    --colorButtonTextQuiet: #1A77CA;
    --colorButtonTextSecondary: #1A77CA;
    --colorButtonTextTertiary: #1A77CA;
    --colorCalloutBackgroundDangerDefault: rgb(from #FF9F9F r g b / 0.24);
    --colorCalloutBackgroundDangerHover: rgb(from #FF9F9F r g b / 0.4);
    --colorCalloutBackgroundDangerPressed: rgb(from #FF9F9F r g b / 0.64);
    --colorCalloutBackgroundDefaultHover: rgb(from #B2B9C5 r g b / 0.4);
    --colorCalloutBackgroundDefaultPressed: rgb(from #B2B9C5 r g b / 0.64);
    --colorCalloutBackgroundFeatureDefault: rgb(from #C5AEEE r g b / 0.24);
    --colorCalloutBackgroundFeatureHover: rgb(from #C5AEEE r g b / 0.4);
    --colorCalloutBackgroundFeaturePressed: rgb(from #C5AEEE r g b / 0.64);
    --colorCalloutBackgroundInfoDefault: rgb(from #87BFEC r g b / 0.24);
    --colorCalloutBackgroundInfoHover: rgb(from #87BFEC r g b / 0.4);
    --colorCalloutBackgroundInfoPressed: rgb(from #87BFEC r g b / 0.64);
    --colorCalloutBackgroundSuccessDefault: rgb(from #5ECD9E r g b / 0.24);
    --colorCalloutBackgroundSuccessHover: rgb(from #5ECD9E r g b / 0.4);
    --colorCalloutBackgroundSuccessPressed: rgb(from #5ECD9E r g b / 0.64);
    --colorCalloutBackgroundUpsell: linear-gradient(95deg, rgb(from #CDE4F7 r g b / 0.4) 0%, rgb(from #E7DEF8 r g b / 0.4) 100%);
    --colorCalloutBackgroundWarningDefault: rgb(from #FFDF62 r g b / 0.24);
    --colorCalloutBackgroundWarningHover: rgb(from #FFDF62 r g b / 0.4);
    --colorCalloutBackgroundWarningPressed: rgb(from #FFDF62 r g b / 0.64);
    --colorCalloutBorderDanger: #D63D3D;
    --colorCalloutBorderDefault: #68778D;
    --colorCalloutBorderFeature: #895ED3;
    --colorCalloutBorderInfo: #1A77CA;
    --colorCalloutBorderSuccess: #00874D;
    --colorCalloutBorderUpsell: linear-gradient(180deg, #87BFEC 0%, #C5AEEE 100%);
    --colorCalloutBorderWarning: #B98F02;
    --colorCalloutIconDanger: #AA3030;
    --colorCalloutIconDefault: #515D70;
    --colorCalloutIconFeature: #7043B7;
    --colorCalloutIconInfo: #155EA0;
    --colorCalloutIconSuccess: #006A3D;
    --colorCalloutIconWarning: #745801;
    --colorCalloutTextBody: #000000;
    --colorCalloutTextDanger: #AA3030;
    --colorCalloutTextDefault: #515D70;
    --colorCalloutTextFeature: #7043B7;
    --colorCalloutTextInfo: #155EA0;
    --colorCalloutTextSuccess: #006A3D;
    --colorCalloutTextWarning: #745801;
    --colorCardBackgroundPrimaryDefault: #FFFFFF;
    --colorCardBackgroundSecondaryDefault: rgb(from #FFFFFF r g b / 0);
    --colorCardBackgroundSecondaryHover: rgb(from #F5F6F8 r g b / 0.64);
    --colorCarouselBackgroundPrimary: #16191F;
    --colorCarouselIconDefault: rgb(from #B2B9C5 r g b / 0.32);
    --colorCarouselIconHover: rgb(from #B2B9C5 r g b / 0.72);
    --colorCarouselIconSelected: #449BE1;
    --colorCarouselTextPrimary: #FFFFFF;
    --colorCategorySelectListBackgroundActive: rgb(from #1A77CA r g b / 0.06);
    --colorCategorySelectListBackgroundDefault: #F5F6F8;
    --colorCategorySelectListBackgroundHover: #1A77CA;
    --colorCategorySelectListIconActive: #1A77CA;
    --colorCategorySelectListIconDefault: #515D70;
    --colorCategorySelectListIconHover: #FFFFFF;
    --colorCategorySelectListTextActive: #1A77CA;
    --colorCategorySelectListTextHover: #FFFFFF;
    --colorChipBackgroundDanger: #D63D3D;
    --colorChipBackgroundPrimary: #DEE1E6;
    --colorChipBackgroundSecondary: #B2B9C5;
    --colorChipBackgroundSuccessful: #00874D;
    --colorChipBorderPrimary: #B2B9C5;
    --colorChipFilledBackgroundDanger: #FFD8D8;
    --colorChipFilledBackgroundInfo: #CDE4F7;
    --colorChipFilledBackgroundPrimary: #DAE2E9;
    --colorChipFilledBackgroundSecondary: #E7DEF8;
    --colorChipFilledBackgroundSuccess: #B8E7D3;
    --colorChipFilledBackgroundWarning: #FFDF62;
    --colorChipFilledIconDanger: #AA3030;
    --colorChipFilledIconInfo: #155EA0;
    --colorChipFilledIconPrimary: #3E607D;
    --colorChipFilledIconSecondary: #7043B7;
    --colorChipFilledIconSuccess: #006A3D;
    --colorChipFilledIconWarning: #745801;
    --colorChipFilledTextDanger: #AA3030;
    --colorChipFilledTextInfo: #155EA0;
    --colorChipFilledTextPrimary: #3E607D;
    --colorChipFilledTextSecondary: #7043B7;
    --colorChipFilledTextSuccess: #006A3D;
    --colorChipFilledTextWarning: #745801;
    --colorChipIconInverse: #FFFFFF;
    --colorChipIconPrimary: #282F38;
    --colorChipIconWarning: #C45317;
    --colorChipOutlinedBorderDanger: #D63D3D;
    --colorChipOutlinedBorderInfo: #1A77CA;
    --colorChipOutlinedBorderPrimary: #557999;
    --colorChipOutlinedBorderSecondary: #895ED3;
    --colorChipOutlinedBorderSuccess: #00874D;
    --colorChipOutlinedBorderWarning: #927002;
    --colorChipOutlinedIconDanger: #D63D3D;
    --colorChipOutlinedIconInfo: #1A77CA;
    --colorChipOutlinedIconPrimary: #557999;
    --colorChipOutlinedIconSecondary: #895ED3;
    --colorChipOutlinedIconSuccess: #00874D;
    --colorChipOutlinedIconWarning: #927002;
    --colorChipOutlinedTextDanger: #D63D3D;
    --colorChipOutlinedTextInfo: #1A77CA;
    --colorChipOutlinedTextPrimary: #557999;
    --colorChipOutlinedTextSecondary: #895ED3;
    --colorChipOutlinedTextSuccess: #00874D;
    --colorChipOutlinedTextWarning: #927002;
    --colorChipTextInverse: #FFFFFF;
    --colorChipTextPrimary: #282F38;
    --colorCodeEditorBackground: #F5F6F8;
    --colorCodeEditorCodeActivelineBackground: rgb(from #68778D r g b / 0.15);
    --colorCodeEditorCodeAtomNumberKeywordVariableAttributeQuoteColor: #093051;
    --colorCodeEditorCodeBracketCommentColor: #8A96A7;
    --colorCodeEditorCodeCursorBorderLeft: #1F303F;
    --colorCodeEditorCodeCursorBorderRight: #A9BBCB;
    --colorCodeEditorCodeDefTagBuiltinQualifierHeaderEmColor: #AA3030;
    --colorCodeEditorCodeErrorInvalidcharColor: #802424;
    --colorCodeEditorCodeFatCursorBackground: #A9BBCB;
    --colorCodeEditorCodeHint: #282F38;
    --colorCodeEditorCodeHintActiveBackground: #DEE1E6;
    --colorCodeEditorCodeHintsBackground: #DEE1E6;
    --colorCodeEditorCodeIndentationMarkerActiveColor: #B2B9C5;
    --colorCodeEditorCodeIndentationMarkerColor: #DEE1E6;
    --colorCodeEditorCodeLinenumberColor: #8A96A7;
    --colorCodeEditorCodeMatchingbracketColor: #16191F;
    --colorCodeEditorCodePositiveColor: #00361F;
    --colorCodeEditorCodePropertyColor: #59170D;
    --colorCodeEditorCodePunctuationUnitNegativeColor: #AA3030;
    --colorCodeEditorCodeSelectedBackground: #DEE1E6;
    --colorCodeEditorCodeStringOperatorColor: #00502E;
    --colorCodeEditorCodeSyntaxAtom: #A13C14;
    --colorCodeEditorCodeSyntaxAttributeName: #155EA0;
    --colorCodeEditorCodeSyntaxBool: #A13C14;
    --colorCodeEditorCodeSyntaxBracket: #515D70;
    --colorCodeEditorCodeSyntaxClassName: #7043B7;
    --colorCodeEditorCodeSyntaxComment: #515D70;
    --colorCodeEditorCodeSyntaxDeleted: #AA3030;
    --colorCodeEditorCodeSyntaxDeletedBackground: #FFF3F3;
    --colorCodeEditorCodeSyntaxEmphasis: #2E2E2E;
    --colorCodeEditorCodeSyntaxEscape: #093051;
    --colorCodeEditorCodeSyntaxHeading: #2E2E2E;
    --colorCodeEditorCodeSyntaxInvalid: #AA3030;
    --colorCodeEditorCodeSyntaxKeyword: #AA3030;
    --colorCodeEditorCodeSyntaxLink: #093051;
    --colorCodeEditorCodeSyntaxMeta: #093051;
    --colorCodeEditorCodeSyntaxName: #006A3D;
    --colorCodeEditorCodeSyntaxNumber: #155EA0;
    --colorCodeEditorCodeSyntaxOperator: #155EA0;
    --colorCodeEditorCodeSyntaxPropertyName: #7043B7;
    --colorCodeEditorCodeSyntaxQuote: #006A3D;
    --colorCodeEditorCodeSyntaxRegexp: #093051;
    --colorCodeEditorCodeSyntaxSpecialVariableName: #A13C14;
    --colorCodeEditorCodeSyntaxString: #093051;
    --colorCodeEditorCodeSyntaxStrong: #2E2E2E;
    --colorCodeEditorCodeSyntaxTagName: #006A3D;
    --colorCodeEditorCodeSyntaxTypeName: #AA3030;
    --colorCodeEditorCodeSyntaxTypeOperator: #AA3030;
    --colorCodeEditorCodeSyntaxUrl: #093051;
    --colorCodeEditorCodeSyntaxVariableName: #155EA0;
    --colorCodeEditorCodeVariable2Variable3String2UrlColor: #155EA0;
    --colorCodeEditorCodeVariableColor: #7043B7;
    --colorCodeEditorForeground: #282F38;
    --colorCodeEditorSelection: #DEE1E6;
    --colorCodeEditorSelectionMatch: #DEE1E6;
    --colorCodeEditorTextDefault: #282F38;
    --colorCodeEditorTextGutter: #8A96A7;
    --colorCodeEditorTextHighlight: #59170D;
    --colorCodeEditorTextHintHighlight: #00874D;
    --colorCodeEditorToolbarBackground: #DEE1E6;
    --colorCodeEditorToolbarButtonHover: #B2B9C5;
    --colorCodeReviewBackgroundDangerDefault: #FFD8D8;
    --colorCodeReviewBackgroundDangerMuted: #FF9F9F;
    --colorCodeReviewBackgroundPrimaryDefault: #F5F6F8;
    --colorCodeReviewBackgroundPrimaryMuted: #FFFFFF;
    --colorCodeReviewBackgroundSuccessDefault: #B8E7D3;
    --colorCodeReviewBackgroundSuccessMuted: #5ECD9E;
    --colorCodeReviewTextDanger: #802424;
    --colorCodeReviewTextPrimary: #282F38;
    --colorCodeReviewTextSuccess: #00502E;
    --colorDeprecatedBackgroundWarning: #FFF5ED;
    --colorDeprecatedBorderWarning: #C45317;
    --colorDeprecatedIconWarning: #EA7325;
    --colorDeprecatedTextWarning: #C45317;
    --colorDialogBackgroundPrimary: #FFFFFF;
    --colorDialogBackgroundSecondaryDefault: #F5F6F8;
    --colorDialogBackgroundSecondaryUpsell: linear-gradient(95deg, rgb(from #1A77CA r g b / 0.6) 0%, rgb(from #895ED3 r g b / 0.6) 100%);
    --colorDialogHelpPanelText: #FFFFFF;
    --colorIconDanger: #D63D3D;
    --colorIconDisabled: #B2B9C5;
    --colorIconFeature: #A683E5;
    --colorIconInfo: #1A77CA;
    --colorIconInversePrimary: #FFFFFF;
    --colorIconInverseSecondary: #DEE1E6;
    --colorIconLinkDefault: #1A77CA;
    --colorIconLinkHover: #155EA0;
    --colorIconPrimary: #282F38;
    --colorIconSecondary: #515D70;
    --colorIconSelected: #155EA0;
    --colorIconSuccess: #00874D;
    --colorIconTertiary: #8A96A7;
    --colorIconWarning: #B98F02;
    --colorLifecycleBackgroundPrimary: #8A96A7;
    --colorLifecycleBorderDefault: #515D70;
    --colorLifecycleIconPrimary: #FFFFFF;
    --colorLifecycleTextPrimary: #282F38;
    --colorMenuListBackgroundActive: #DEE1E6;
    --colorMenuListBackgroundDefault: #FFFFFF;
    --colorMenuListBackgroundHover: #F5F6F8;
    --colorMenuListBorderPrimary: #DEE1E6;
    --colorMenuListIconPrimary: #515D70;
    --colorMenuListTextHighlight: #1A77CA;
    --colorMenuListTextPrimary: #282F38;
    --colorMenuListTextSecondary: #515D70;
    --colorNavButtonBackgroundActive: #1A77CA;
    --colorNavButtonBackgroundDefault: rgb(from #1A77CA r g b / 0);
    --colorNavButtonBackgroundHover: #1A77CA;
    --colorNavButtonBackgroundPressed: #155EA0;
    --colorNavButtonIconActive: #FFFFFF;
    --colorNavButtonIconDefault: #282F38;
    --colorNavButtonIconHover: #FFFFFF;
    --colorNavButtonIconPressed: #FFFFFF;
    --colorNavListBackgroundActive: #F5F6F8;
    --colorNavListBackgroundDefault: rgb(from #1A77CA r g b / 0);
    --colorNavListBackgroundHover: #1A77CA;
    --colorNavListIconActive: #1A77CA;
    --colorNavListIconDefault: #282F38;
    --colorNavListTextActive: #1A77CA;
    --colorNavListTextDefault: #282F38;
    --colorNavListTextHover: #FFFFFF;
    --colorNavTabBackgroundActive: rgb(from #FFFFFF r g b / 0);
    --colorNavTabBackgroundHover: #FFFFFF;
    --colorNavTabBorderPrimary: #449BE1;
    --colorNavTabIconActive: #1A77CA;
    --colorNavTabIconDefault: #093051;
    --colorNavTabIconHover: #1A77CA;
    --colorNavTabTextActive: #1A77CA;
    --colorNavTabTextDefault: #093051;
    --colorNavTabTextHover: #1A77CA;
    --colorOverlayPrimary: rgb(from #111A23 r g b / 0.56);
    --colorOverlaySecondary: rgb(from #000000 r g b / 0.31);
    --colorPaginationBackgroundActive: #1A77CA;
    --colorPaginationBackgroundDefault: #FFFFFF;
    --colorPaginationBackgroundDisabled: #FFFFFF;
    --colorPaginationBackgroundHover: #8A96A7;
    --colorPaginationIconActive: #FFFFFF;
    --colorPaginationIconDefault: #282F38;
    --colorPaginationIconDisabled: #959595;
    --colorPaginationIconHover: #FFFFFF;
    --colorPaginationTextActive: #FFFFFF;
    --colorPaginationTextDefault: #282F38;
    --colorPaginationTextDisabled: #959595;
    --colorPaginationTextHover: #FFFFFF;
    --colorParallelChipBackground: #1A77CA;
    --colorParallelChipIcon: #FFFFFF;
    --colorPopoverBackgroundPrimary: #FFFFFF;
    --colorPopoverBackgroundSecondary: #F5F6F8;
    --colorPopoverInfoCircleBackgroundDefault: #CDE4F7;
    --colorPopoverInfoCircleBackgroundHover: #1A77CA;
    --colorPopoverInfoCircleTextDefault: #155EA0;
    --colorPopoverInfoCircleTextHover: #FFFFFF;
    --colorPortalCardBackground: #FFFFFF;
    --colorPortalCardContentDisabled: #757575;
    --colorPortalCardContentText: #5C5C5C;
    --colorPortalChipBackground: #E1E1E1;
    --colorPortalLinkTextHover: #155EA0;
    --colorPortalLogoBackground: transparent;
    --colorPortalPopoverBackground: #FFFFFF;
    --colorProcessContainerBackgroundSelected: #F2F8FD;
    --colorProcessContainerBorderSelected: #449BE1;
    --colorProcessStepBackgroundErrorPrimary: #FFF3F3;
    --colorProcessStepBackgroundErrorSecondary: #FF9F9F;
    --colorProcessStepBackgroundErrorSelected: #FFD8D8;
    --colorProcessStepBackgroundHoverError: #FFD8D8;
    --colorProcessStepBackgroundHoverPrimary: #F2F8FD;
    --colorProcessStepBackgroundHoverSecondary: #CDE4F7;
    --colorProcessStepBackgroundHoverTertiary: #F7F7F7;
    --colorProcessStepBackgroundHoverWarning: #FFDABF;
    --colorProcessStepBackgroundPrimaryDefault: #FFFFFF;
    --colorProcessStepBackgroundPrimarySelected: #F2F8FD;
    --colorProcessStepBackgroundSecondaryDefault: #F2F8FD;
    --colorProcessStepBackgroundWarningDefault: #FFF5ED;
    --colorProcessStepBackgroundWarningSecondary: #FFA461;
    --colorProcessStepBackgroundWarningSelected: #FFDABF;
    --colorProcessStepBorderDefault: #E1E1E1;
    --colorProcessStepBorderDisabled: #E1E1E1;
    --colorProcessStepBorderErrorDefault: #FF9F9F;
    --colorProcessStepBorderErrorHover: #FF5D5D;
    --colorProcessStepBorderErrorSelected: #D63D3D;
    --colorProcessStepBorderHover: #87BFEC;
    --colorProcessStepBorderSelected: #449BE1;
    --colorProcessStepBorderWarningDefault: #FFA461;
    --colorProcessStepBorderWarningHover: #EA7325;
    --colorProcessStepBorderWarningSelected: #C45317;
    --colorProcessStepIconDefault: #1A77CA;
    --colorProcessStepIconErrorPrimary: #D63D3D;
    --colorProcessStepIconErrorSecondary: #AA3030;
    --colorProcessStepIconWarningPrimary: #EA7325;
    --colorProcessStepIconWarningSecondary: #C45317;
    --colorProcessStepTextDisabled: #757575;
    --colorProcessWrapperBackgroundPrimary: #F2F8FD;
    --colorProcessWrapperBackgroundSecondary: #CDE4F7;
    --colorProgressBackgroundLinear: #CDE4F7;
    --colorProgressBackgroundPrimary: #1A77CA;
    --colorProgressBackgroundSecondary: #CDE4F7;
    --colorProgressForegroundCircular: #1A77CA;
    --colorProgressForegroundLinear: #1A77CA;
    --colorProgressTextInfo: #1A77CA;
    --colorScrollbarBackground: rgb(from #FFFFFF r g b / 0);
    --colorScrollbarHandle: #959595;
    --colorSpaceSwitcherBackgroundDefault: rgb(from #E1E1E1 r g b / 0.32);
    --colorSpaceSwitcherBackgroundHover: #1A77CA;
    --colorSpaceSwitcherBackgroundPressed: #1A77CA;
    --colorSpaceSwitcherBorderPrimary: rgb(from #000000 r g b / 0.16);
    --colorSpaceSwitcherIconDefault: #515D70;
    --colorSpaceSwitcherTextDefault: #515D70;
    --colorSpaceSwitcherTextHover: #FFFFFF;
    --colorSpaceSwitcherTextPressed: #FFFFFF;
    --colorStatusBadgeBackgroundHealthy: #00874D;
    --colorStatusBadgeBackgroundNeutral: #DEE1E6;
    --colorStatusBadgeBackgroundUnhealthy: #D63D3D;
    --colorStatusBadgeBackgroundWarning: #927002;
    --colorStatusBadgeIconDefault: #FFFFFF;
    --colorStatusBadgeIconInverse: #3D4653;
    --colorStatusBadgeTextInverse: #3D4653;
    --colorStatusBadgeTextPrimary: #FFFFFF;
    --colorSwitchBackgroundOffDefault: #B2B9C5;
    --colorSwitchBackgroundOffDisabled: #DEE1E6;
    --colorSwitchBackgroundOnDefault: #87BFEC;
    --colorSwitchBackgroundOnDisabled: #CDE4F7;
    --colorSwitchForegroundOffDefault: #F5F6F8;
    --colorSwitchForegroundOffDisabled: #B2B9C5;
    --colorSwitchForegroundOnDefault: #1A77CA;
    --colorSwitchForegroundOnDisabled: #87BFEC;
    --colorSwitchIconActive: #1A77CA;
    --colorSwitchOverlayOff: rgb(from #B2B9C5 r g b / 0.16);
    --colorSwitchOverlayOn: rgb(from #87BFEC r g b / 0.16);
    --colorTagBackgroundDefault: #CDE4F7;
    --colorTagBackgroundHover: #87BFEC;
    --colorTaskStatusBackgroundExecuting: #1A77CA;
    --colorTaskStatusBackgroundFailure: #D63D3D;
    --colorTaskStatusBackgroundNeutral: #DEE1E6;
    --colorTaskStatusBackgroundSuccess: #00874D;
    --colorTaskStatusBackgroundWarning: #927002;
    --colorTaskStatusIconDefault: #FFFFFF;
    --colorTaskStatusIconInverse: #3D4653;
    --colorTextDanger: #D63D3D;
    --colorTextDisabled: #B2B9C5;
    --colorTextFeature: #895ED3;
    --colorTextFieldBorderActive: #1A77CA;
    --colorTextFieldBorderDanger: #D63D3D;
    --colorTextFieldBorderDefault: #B2B9C5;
    --colorTextFieldBorderDisabled: #B2B9C5;
    --colorTextFieldBorderHover: #68778D;
    --colorTextFieldIconDisabled: #B2B9C5;
    --colorTextFieldIconPrimary: #3D4653;
    --colorTextFieldTextDanger: #D63D3D;
    --colorTextFieldTextDisabled: #B2B9C5;
    --colorTextFieldTextPrimary: #282F38;
    --colorTextFieldTextSecondary: #68778D;
    --colorTextFieldTextSelected: #1A77CA;
    --colorTextInfo: #1A77CA;
    --colorTextInversePrimary: #FFFFFF;
    --colorTextInverseSecondary: #DEE1E6;
    --colorTextLinkDefault: #1A77CA;
    --colorTextLinkHover: #155EA0;
    --colorTextPrimary: #282F38;
    --colorTextSecondary: #515D70;
    --colorTextSelected: #1A77CA;
    --colorTextSuccess: #00874D;
    --colorTextTertiary: #68778D;
    --colorTextWarning: #B98F02;
    --shadowDrawer: -4px 0 16px 0 rgba(0, 0, 0, 0.08), -12px 4px 24px -4px rgba(0, 0, 0, 0.1);
    --shadowExtraSmall: 0 1px 8px 0 rgba(0, 0, 0, 0.02), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadowFocused: 0 0 0 1px rgb(26, 119, 202), 0 0 0 5px rgba(26, 119, 202, 0.32);
    --shadowFocusedInset: inset 0 0 0 4px rgba(26, 119, 202, 0.32);
    --shadowLarge: 0 14px 32px -4px rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.10);
    --shadowLayoutPrimary: -2px -2px 6px 0 rgba(0, 0, 0, 0.06);
    --shadowMedium: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    --shadowSmall: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.06);
    --fontFamilyCode: ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace;
    --fontFamilyDefault: BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --textBodyBoldLarge: 600 1rem / 1.5rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textBodyBoldMedium: 600 0.875rem / 1.25rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textBodyBoldSmall: 600 0.8125rem / 1.25rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textBodyBoldXSmall: 600 0.75rem / 1.25rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textBodyRegularLarge: 400 1rem / 1.5rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textBodyRegularMedium: 400 0.875rem / 1.25rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textBodyRegularSmall: 400 0.8125rem / 1.25rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textBodyRegularXSmall: 400 0.75rem / 1.25rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textCodeBoldLarge: 600 1rem / 1.5rem var(--fontFamilyCode, 'ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace');
    --textCodeBoldMedium: 600 0.875rem / 1.25rem var(--fontFamilyCode, 'ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace');
    --textCodeBoldSmall: 600 0.8125rem / 1.25rem var(--fontFamilyCode, 'ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace');
    --textCodeBoldXSmall: 600 0.75rem / 1.25rem var(--fontFamilyCode, 'ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace');
    --textCodeRegularLarge: 400 1rem / 1.5rem var(--fontFamilyCode, 'ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace');
    --textCodeRegularMedium: 400 0.875rem / 1.25rem var(--fontFamilyCode, 'ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace');
    --textCodeRegularSmall: 400 0.8125rem / 1.25rem var(--fontFamilyCode, 'ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace');
    --textCodeRegularXSmall: 400 0.75rem / 1.25rem var(--fontFamilyCode, 'ui-monospace, "SF Mono", Menlo, Consolas, "Liberation Mono", "Oxygen Mono", "Ubuntu Mono", monospace');
    --textHeading2xLarge: 600 3rem / 3.5rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textHeadingLarge: 600 1.5rem / 2rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textHeadingMedium: 600 1.25rem / 1.75rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textHeadingSmall: 600 1rem / 1.5rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textHeadingXLarge: 600 2rem / 2.75rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --textHeadingXSmall: 600 0.75rem / 1.25rem var(--fontFamilyDefault, 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen Sans", Ubuntu, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol');
    --whiteConstant: #FFFFFF;
    --blackConstant: #000000;
    --cyanConstant: #1A77CA;
    --transparent: transparent;
    --paper0: #FFFFFF;
    --paper1: #FFFFFF;
    --paper2: #FFFFFF;
    --paper3: #FFFFFF;
    --primaryText: #2E2E2E;
    --secondaryText: #757575;
    --ternaryText: #5C5C5C;
    --highlightText: #FFDF62;
    --highlightTextBackground: #000000;
    --linkText: #1A77CA;
    --linkTextHover: #155EA0;
    --sideMenuHover: #FFFFFF;
    --sideMenuNestedText: #5C5C5C;
    --sidebarMenuSelectedText: #1A77CA;
    --navBackground: #1A77CA;
    --navItemHover: #87BFEC;
    --navItemActive: #155EA0;
    --navText: #FFFFFF;
    --navTextHover: #FFFFFF;
    --navTextActive: #FFFFFF;
    --spaceMenuBackground: #111A23;
    --spaceMenuText: #FFFFFF;
    --tabActiveIndicator: #1A77CA;
    --primaryButtonBackground: #00874D;
    --primaryButtonText: #FFFFFF;
    --secondaryButtonBackground: #F2F8FD;
    --secondaryButtonText: #1A77CA;
    --ternaryButton: #1A77CA;
    --ternaryButtonHover: #155EA0;
    --disabledButtonBorder: #B9B9B9;
    --disabledButtonBackground: #E1E1E1;
    --disabledButtonText: #757575;
    --createReleaseBackground: #111A23;
    --createReleaseText: #FFFFFF;
    --deleteButtonText: #FFFFFF;
    --deleteButtonBackground: #D63D3D;
    --cancelButtonBackground: #C45317;
    --cancelButtonText: #FFFFFF;
    --subtleButtonBackground: #DEE1E6;
    --subtleButtonBorder: #F2F8FD;
    --pagingButtonBackground: #B9B9B9;
    --pagingButtonBackgroundHover: #757575;
    --pagingButtonBackgroundActive: #757575;
    --tenantCount: #FFFFFF;
    --SectionBodyText: #2E2E2E;
    --groupHeaderBackground: #FFFFFF;
    --groupHeader: #16191F;
    --statusBarBackground: #F5F6F8;
    --statusBarItemBackground: #FFFFFF;
    --contextualHelpBackground: #FFFFFF;
    --primaryBackground: #F7F7F7;
    --disabledBackground: #E1E1E1;
    --secondaryBackground: #F7F7F7;
    --secondaryBackgroundLight: #E1E1E1;
    --ternaryBackground: #E1E1E1;
    --hover: #E1E1E1;
    --divider: #959595;
    --dividerLight: #E1E1E1;
    --secondaryDivider: #B9B9B9;
    --teritaryDivider: #E1E1E1;
    --logoBackground: transparent;
    --stepLogoBackground: #FFFFFF;
    --parentStepBackground: #155EA0;
    --loadingIndicator: #87BFEC;
    --loadingIndicatorBackground: #B9B9B9;
    --userOnboardingHelpPanelBackground: rgb(18, 37, 54);
    --cardBackground: #FFFFFF;
    --cardHover: #F4F6F8;
    --cardFooterBuiltIn: #1A77CA;
    --cardFooterInstalled: #959595;
    --cardFooterCommunity: #FFFFFF;
    --focus: #1A77CA;
    --selectBorder: #757575;
    --focusIconButton: #87BFEC;
    --chipBackground: #E1E1E1;
    --chipHighlight: #1F303F;
    --chipText: #2E2E2E;
    --chipIcon: #2E2E2E;
    --chipDeleteButton: #757575;
    --avatarBackground: #B9B9B9;
    --hintHighlight: #1A77CA;
    --hintActive: #87BFEC;
    --placeholder: #000000;
    --placeholderActive: #000000;
    --codeEditorBackground: #111A23;
    --codeEditorToolbarBackground: #1F303F;
    --codeEditorGutterTextColor: #557999;
    --codeEditorDefaultTextColor: #DAE2E9;
    --codeEditorTextBright: #C5AEEE;
    --codeEditorTextHighlight: #155EA0;
    --codeEditorToolbarButtonHover: #1F303F;
    --codeEditorType: #E5B203;
    --codeEditorVariable: #FFD8D8;
    --codeEditorVariable2: #CDE4F7;
    --codeEditorOperator: #87BFEC;
    --codeEditorBuiltIn: #FFA461;
    --codeEditorNumber: #FFD8D8;
    --codeEditorAtom: #FFA461;
    --codeEditorDef: #CDE4F7;
    --codeEditorString: #5ECD9E;
    --codeEditorQualifier: #E5B203;
    --iconEditorIcon: #F5F6F8;
    --iconEditorIconHover: #DEE1E6;
    --iconEditorColorPaletteInnerBorder: #FFFFFF;
    --iconEditorColorPaletteHover: #B9B9B9;
    --iconEditorColorPaletteSelected: #1A77CA;
    --info: #1A77CA;
    --infoConstant: #1A77CA;
    --infoBackground: #F2F8FD;
    --infoBorder: #1A77CA;
    --infoHeaderText: #155EA0;
    --infoText: #1A77CA;
    --infoHighlight: #F2F8FD;
    --success: #00874D;
    --successConstant: #00874D;
    --successBackground: #EEFAF5;
    --successCalloutBackground: #EEFAF5;
    --successBorder: #00874D;
    --successHeaderText: #006A3D;
    --successText: #006A3D;
    --successHighlight: #EEFAF5;
    --danger: #D63D3D;
    --dangerConstant: #D63D3D;
    --dangerBackground: #FFF3F3;
    --dangerCalloutBackground: #FFF3F3;
    --dangerBorder: #D63D3D;
    --dangerHeaderText: #AA3030;
    --dangerText: #D63D3D;
    --dangerHighlight: #FFF3F3;
    --alert: #C45317;
    --alertBackground: #FFF5ED;
    --alertCalloutBackground: #FFF7D9;
    --alertBorder: #C45317;
    --alertConstant: #C45317;
    --alertHeaderText: #745801;
    --alertText: #C45317;
    --alertHighlight: #FFF5ED;
    --alertIcon: #C45317;
    --sunshineText: #E5B203;
    --darkBackground: #2E2E2E;
    --darkText: #FFFFFF;
    --auditHighlight: #E1E1E1;
    --codeText: #3E607D;
    --codeTextBright: #3E607D;
    --featureText: #3E607D;
    --featureBackground: #F2F8FD;
    --featureCalloutBackground: #F4F6F8;
    --featureBorder: transparent;
    --experimentText: #572B97;
    --experimentBackground: #E7DEF8;
    --experimentCalloutBackground: #E7DEF8;
    --successTaskLogBackground: #EEFAF5;
    --successTaskLogBorder: #00AB62;
    --successTaskLogText: #006A3D;
    --dangerTaskLogBackground: #FFF3F3;
    --dangerTaskLogBorder: #FF5D5D;
    --dangerTaskLogText: #AA3030;
    --alertTaskLogBackground: #FFF7D9;
    --alertTaskLogText: #745801;
    --unknownTaskLogBackground: #F5F6F8;
    --unknownTaskLogBorder: #8A96A7;
    --unknownTaskLogText: #515D70;
    --runningTaskLogText: #155EA0;
    --diffAddedBackground: #B8E7D3;
    --diffAddedColor: #00502E;
    --diffWordAddedBackground: #5ECD9E;
    --diffWordAddedColor: #00502E;
    --diffRemovedBackground: #FFD8D8;
    --diffRemovedColor: #802424;
    --diffWordRemovedBackground: #FF9F9F;
    --diffWordRemovedColor: #802424;
    --diffGutterBackground: #FFFFFF;
    --diffGutterColor: #2E2E2E;
    --diffRemovedGutterBackground: #FF9F9F;
    --diffRemovedGutterColor: #802424;
    --diffAddedGutterBackground: #5ECD9E;
    --diffAddedGutterColor: #00502E;
    --diffHighlight: #E1E1E1;
    --errorText: #FF5D5D;
    --iconNavy: #111A23;
    --iconDark: #111A23;
    --iconLight: #FFFFFF;
    --iconNeutral: #5C5C5C;
    --iconLifeCycle: #959595;
    --tooltipText: #FFFFFF;
    --tooltipBackground: #2E2E2E;
    --mainBackground: #1A77CA;
    --mainText: #1A77CA;
    --primary: #1A77CA;
    --primaryLight: #87BFEC;
    --primaryDark: #155EA0;
    --primaryDarkest: #1F303F;
    --primaryLightest: #DEE1E6;
    --secondaryDark: #093051;
    --imgNavy: #111A23;
    --imgCyan: #1A77CA;
    --imgCyan50: #155EA0;
    --imgWhite: #FFFFFF;
    --imgBlueGrey: #DEE1E6;
    --imgLightGrey: #E1E1E1;
    --imgGrey: #F7F7F7;
    --imgLight: #FFFFFF;
    --imgDark: #111A23;
    --imgGreen: #00874D;
    --imgDanger: #D63D3D;
    --wizardStepBackground: #E1E1E1;
    --wizardStepBackgroundActive: #1A77CA;
}